<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Google Text Aggregator</title>

    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="custom.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Google Text Aggregator</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <button type="button" class="btn btn-danger reset" onclick="reset()">Reset</button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="panel panel-default text">
        <div class="panel-body">
          <h1>Text (765) 681-5587 to Join!</h1>
        </div>
      </div>

      <% @messages.each do |msg| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= msg.body %>
          </div>
          <div class="panel-footer">
            <%= msg.name %>
          </div>
        </div>
      <% end %>

    </div>

    <script src="jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
